body {
  font-family: "Comic Neue", cursive;
}

.main-container {
  width: 70%;
  min-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#saved-books {
  width: 100%;
  border: black 2px solid;
  border-radius: 1%;
  margin-top: 5%;
}

.books-list {
  width: 80%;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 30px;
}

article:nth-of-type(odd) {
  background-color: #ddd;
}

article:nth-of-type(even) {
  background-color: #fff;
}

.add-book-form {
  width: 55%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
input,
button {
  font-weight: bold;
  margin: 0;
}

#title,
#author {
  padding: 0.2rem;
  width: 100%;
}

button {
  box-shadow: rgba(0, 0, 0, 1) 5px 5px;
  margin: 0 0.5rem;
  height: 30px;
  font-size: 1rem;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

hr {
  width: 40%;
  border: black solid 2px;
}

h1,
h3 {
  text-align: center;
}

#add {
  margin-left: 90%;
}

h1 {
  font-size: 3rem;
  margin: 0;
  margin-top: 10%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.add-book-form h1 {
  margin-bottom: 10%;
}

li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.non-visible {
  display: none;
}

.navmenu-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  border: 4px black solid;
  border-radius: 2px;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-items li {
  margin: 1rem;
}

.nav-item {
  cursor: pointer;
}

.time {
  display: flex;
  justify-content: flex-end;
}
