body {
  margin: 0;
  padding: 0;
}

.page {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  text-transform: capitalize;
  color: #fff;
  font-size: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid rgb(103, 103, 103);
  padding-top: 5%;
  padding-bottom: 5%;
}

#new-item,
.text-box {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  font-style: italic;
  margin-bottom: 0.7em;
  width: 65%;
  outline: none;
}

::placeholder {
  color: #fff;
}

.heading {
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5%;
}

.clear {
  font-size: 0.5em;
  text-align: center;
  color: rgb(177, 177, 177);
  padding-top: 5%;
  padding-bottom: 5%;
}

.clear:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

i {
  cursor: pointer;
  float: right;
  color: rgb(133, 133, 133);
}

.fa-arrow-turn-down {
  transform: rotate(90deg);
  margin-top: 1.2em;
  opacity: 50%;
}

.fa-trash-can,
.fa-pen-to-square,
.fa-arrows-rotate,
.fa-floppy-disk {
  margin-top: 1em;
  margin-left: 5px;
  opacity: 50%;
}

.fa-trash-can:hover,
.fa-pen-to-square:hover,
.fa-arrows-rotate:hover,
.fa-arrow-turn-down:hover,
.fa-floppy-disk:hover {
  opacity: 100%;
}
